rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isSuperAdmin() {
      return request.auth.token.superadmin == true;
    }
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOrganizationMember(orgId) {
      return request.auth.token.organizationId == orgId;
    }

    // Rules for organizations collection
    match /organizations/{orgId} {
      allow read, write: if isSuperAdmin();
    }
    
    // Generic rules for organization-specific data
    match /{collection}/{docId} 
      where collection in ['academicPeriods', 'gradingSystems', 'grades', 'subjects', 'performanceIndicators', 'teachers', 'students', 'academicLoad'] {
      
      // Admins of the specific organization can read and write their own data.
      // Superadmins can do anything.
      allow read, write: if isSuperAdmin() || 
                           (isSignedIn() && isOrganizationMember(request.resource.data.organizationId));
    }
  }
}
